<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

               <div formGroupName="customer" class="form-area">
                <h3>Dados do Cliente</h3>

                <div class="row">
                    <div class="col-md-2"> <label>Primeiro Nome</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="firstName" type="text">

                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                                    O Primeiro nome é obrigatório
                                </div>

                                <div *ngIf="firstName?.errors?.['minlength']">
                                   O Primeiro nome deve ter pelo menos 2 caracteres
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Sobrenome</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="lastName" type="text">

                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                                   O Sobrenome é obrigatório
                                </div>

                                <div *ngIf="lastName?.errors?.['minlength']">
                                   O Sobrenome deve ter pelo menos 2 caracteres
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Email</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="email" type="text">

                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="email?.errors?.['required']">
                                   O Email é obrigatório
                                </div>

                                <div *ngIf="email?.errors?.['pattern']">
                                    O Email deve ter um formato de endereço de e-mail válido
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div formGroupName="shippingAddress" class="form-area">
                <h3>Endereço para envio</h3>

                <div class="row">
                    <div class="col-md-2"> <label>País</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="country" (change)="getStates('shippingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressCountry?.errors?.['required']">
                                    O país é obrigatório
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Rua</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">

                            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                                    A Rua é obrigatório
                                </div>
                                <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                                    A Rua deve ter pelo menos 2 caracteres
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Cidade</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text">

                            <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                                    A cidade é obrigatória
                                </div>
                                <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                                    A cidade deve ter pelo menos 2 caracteres
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Estado</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="state">
                                <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>

                            <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressState?.errors?.['required']">
                                    O estado é obrigatório
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>CEP</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text" mask="00000-000">

                            <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                    O CEP é obrigatório
                                </div>
                                <div *ngIf="shippingAddressZipCode?.errors?.['minlength'] || shippingAddressZipCode?.errors?.['maxlength']">
                                    O CEP deve ter 9 caracteres
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="input-space">
                <label class="au-checkbox">
                    <input type="checkbox" (change)="copyShippingAddressToBillingAddress($any($event).target.value)">
                    <span class="au-checkmark"></span>Endereço de cobrança igual ao endereço de entrega
                </label>
            </div>



            <div formGroupName="billingAddress" class="form-area">
                <h3>Endereço de cobrança</h3>

                <div class="row">
                    <div class="col-md-2"> <label>País</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="country" (change)="getStates('billingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{ country.name }}
                                </option>
                            </select>

                            <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressCountry?.errors?.['required']">
                                    O país é obrigatório
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Rua</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">

                            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                                    A rua é obrigatória
                                </div>
                                <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                    A Rua deve ter pelo menos 2 caracteres
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Cidade</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text">

                            <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                                    A Cidade é obrigatória
                                </div>
                                <div *ngIf="billingAddressCity?.errors?.['minlength']">
                                    A Cidade deve ter pelo menos 2 caracteres
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Estado</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="state">
                                <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                    {{ state.name }}
                                </option>
                            </select>

                            <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressState?.errors?.['required']">
                                    O Estado é obrigatório
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>CEP</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text" mask="00000-000">

                            <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                    O CEP é obrigatório
                                </div>

                                <div *ngIf="billingAddressZipCode?.errors?.['minlength'] || billingAddressZipCode?.errors?.['maxlength']">
                                    O CEP deve ter 9 caracteres numéricos
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>



                <div formGroupName="creditCard" class="form-area">

                    <h3>Cartão de Credito ou Debito</h3>

                    <div id="card-element">

                    </div>

                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>

                </div>

                <div class="form-area">
                    <h3>Revise seu pedido</h3>

                    <p>Quantidade Total: {{ totalQuantity }}</p>
                    <p>Envio: GRÁTIS</p>
                    <p>Preço Total: {{ totalPrice | currency: 'BRL' }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Finalizar Compra</button>
                </div>

            </form>

        </div>
    </div>
</div>

<loading-spinner [showModal]="isLoading"></loading-spinner>
